<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Pizza Navigation</title>

        <link rel="stylesheet" href="styles/main.css"/>

        <script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.15/angular-ui-router.min.js"></script>
        <script src="https://cdn.firebase.com/js/client/2.2.4/firebase.js"></script>
        <script src="scripts/angularfire.min.js"></script>
        <script src="scripts/app.js"></script>
    </head>

    <body ng-app="Pizza" ng-controller="AccountHandler">
        <nav class="navbar navbar-default">
            <ul>
                <li class="active"><a ui-sref="pizza">Home</a></li>
                <li><a ui-sref="order">Order</a></li>
                <li><a ui-sref="checkout">Checkout</a></li>
                <li id="bttnLogout" class="btn floatRight" ng-show="authData"><a href="#/index" ng-click="logout()">Logout</a></li>
                <li id="bttnSignup" class="btn floatRight" ng-hide="authData"><a href="#/account" ng-click="redirectToSignUp()">Sign-up</a></li>
                <li id="bttnLogin" class="btn floatRight" ng-hide="authData"><a href="#/account" ng-click="redirectToLogin()">Log In</a></li>
            </ul>
        </nav>


        <main ui-view></main>

        <br/>
        <br/>

        <footer class="center">
        	<p>Terms of use</p>
        	<p>Made for the 4th Annual Winfo Hackathon</p>
        </footer>
    </body>
</html>