<div class="order">
    <div class="cover">
        <h1>Place Order</h1>
    </div>
    <div class="center">
        <label for="name">Name:</label>
        <input id="name" type="text"/>
        <br/>
        <label for="address">Address:</label>
        <input id="address" type="text"/>
        <br/>
        <a class="btn btn-primary" href="#/checkout">Check Out</a>
        <br/>
        <br/>
        <p>To be implemented...Hold up on your order pls</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus accusantium debitis excepturi illo inventore labore minima minus necessitatibus porro quisquam, reiciendis saepe similique tempore! Et itaque labore neque officia possimus.</p>
    </div>
</div>