@import url('https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css');

body {
    font-family: Lato, 'Helvetica Neue', Helvetica, sans-serif;
    font-weight: 300;
    background-color: #E9EAEE;
}

nav {
    position: fixed;
    background-color: #181C22;
    width: 100%;
    z-index: 1;
}

nav ul {
    margin-left: 15px;
    padding-left: 0;
    margin-bottom: 0;
}

nav li {
    display: inline-block;
    padding: 0.5em;
}

nav a {
    color: #000000;
}